.member_frame
  background: #F4F4F4;
  min-height: 100vh;
  margin-bottom: 0;

.order-list
  width: 90%;
  margin: 0 auto;
  color: #333333;
  padding-top: 20px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #F2F2F2;

.order-list img
  width: 0.693rem;
  height: 0.693rem;

.order-list p
  font-size: 12px

.top-box
  position: absolute;
  height: 158px;
  width: 90%;
  top: 75px;
  left: 5%;
  background: #FFFFFF;
  border-radius: 6px;

.info-card
  height: 68px;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 58% 20%;

.operate
  position: relative;

.comfirm-icon
  width: 15px;
  height: 15px;
  position: absolute;
  top: 38px;
  right: 5px;

.info_right
  display: flex;
  height: 16px;
  margin-top: .5rem;

.info_right img
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: 0.6;

.member_login 
  width: 100%;
  height: 210px;
  position: relative;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  background:url('~assets/images/order/bg@2x.png') no-repeat;
  background-size: 100% 100%;
  background-position: center;

.head_img
  position: relative;

.login_head 
  width: 1.72rem;
  height: 1.72rem;
  border-radius: 50%;
  margin-left: 0.42666666667rem;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  background: #cbcbcb;
  position: absolute;
  top: -15px;
  margin-bottom: 0.26666666667rem;

.login_head img 
  width: 100%;
  height: 100%;

.login_regist 
  margin-left: 0.42666666667rem;
  font-size: 0.42666666667rem;
  color: #333333;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 0.26666666667rem;

.center_member 
  margin-right: 50%;
  transform: translateX(50%);

.project_header_title 
  /* background: #36a6fe; */
  height: 1.17333333333rem;
  color: #fff;
  font-size: 0.42666666667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

.project_header_left 
  margin-left: 0.3rem;

.project_header_right 
  margin-right: 0.42666666667rem;

.member_operate 
  position: absolute;
  background: #FFFFFF;
  width: 90%;
  left: 5%;
  top: 240px;
  border-radius: 6px;
  margin-top: 0.21333333333rem;

.operate_item 
  height: 1.28rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

.item_left 
  display: flex;
  justify-content: space-between;
  align-items: center;

.item_left img 
  width: 0.42666666667rem;
  height: 0.42666666667rem;
  margin-left: 0.42666666667rem;
  margin-right: 0.21333333333333335rem;

.item_left span 
  font-size: 16px;
  color: #333333;

.item_right 
  width: 0.26666666667rem;
  height: 0.26666666667rem;
  border-top: 0.05333333333rem solid #c7c7cc;
  border-right: 0.05333333333rem solid #c7c7cc;
  transform: rotate(45deg);
  margin-right: 0.45333333333rem;

.login_haved 
  font-size: 0.37333333333rem;
  margin-left: 3px;
  display: flex;
  line-height: .933rem;
  color: #333333;
  margin-top: .12rem;

.login_haved img 
  width: 0.42666666667rem;
  height: 0.42666666667rem;

.login_type 
  width: 1.24rem;
  height: 0.48rem;
  font-size: .32rem
  background: #36a6fe;
  opacity: 1;
  color: #FFFFFF;
  border-radius: 0.32rem;
  line-height: 0.48rem;
  text-align: center;
  // margin-top: 0.21333333333rem;
  // margin-left: 0.21333333333rem;

.name_sty
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 30px;
  max-width: 135px;
  line-height: initial;
  white-space: nowrap;
  font-size: 12px;

.member-certification 
    .mint-popup
        width: 75%
        margin 0 auto
        border-radius 12px
        text-align: center
	.certification
		width: 100%
		background: #fff
		position relative
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		img
			width 100%
		.approve-title
			margin-top: .5333333333rem
			font-size: .48rem
			font-weight 550
			letter-spacing: 2px
			color: #333
		.approve-desc
			padding .48rem .8rem
			line-height: .6rem
			color: #666
	.approve-btn	
		display inline-grid
		background: #fff
		width: 100%
		margin-top: -1px
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		a 
			line-height: 1.22666666667rem
			color: #999
			font-size: .373333333rem
			font-weight: 500
			letter-spacing: 2px
			margin 0 auto
		a:first-child
			color: #fff
			width: 5.97333333333rem
			height: 1.066666667rem
			line-height: 1.066666667rem
			border-radius: 50px;
			background: #36A6FE
			box-shadow: 0px 3px 6px 0px rgba(6,92,159,0.16); 
	.close-box
		width: 100%
		margin: .533333322rem 0
		img
			width: .8rem
			height: .8rem
			margin: 0 auto
.toachieve{
    display: inline-block;
    font-size: 12px;
    color: #999999;
}
.company{
  display: flex;
  align-items: center;
  line-height: 0.6rem
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 135px;
  span{
    font-size: 12px;
  }
}
.img_sty {
  width: 0.52rem !important;
  height: 0.52rem !important;
}