.wrap
    width 100%
    height 100%
    position relative
    .add-list
        margin-top: 40px
        padding-bottom: 1.8rem
        .add-item
            position relative
            .cover-bg
                background: #000
                opacity  .5
                // z-index 998 !important
            .click-box, .cover-bg
                position absolute
                left 0px
                top 0
                width: 100%
                height: 100%
                z-index 997
                .handle-box
                    display: flex
                    position absolute
                    top: 50%
                    left 50%
                    transform: translate(-50%, -50%);
                    div
                        width: 1.6rem
                        height: 1.6rem
                        line-height: 1.6rem
                        font-size: .32rem
                        border-radius: 50%
                        text-align: center
                        p
                            width: .64rem
                            height: .7466666667rem
                            line-height: 1.2
                            margin: .42rem auto
                            color #fff
                    div:first-child
                        background: #FDC41D
                        margin-right: 1.4666666667rem
                    div:last-child
                        background: #F2390B
                        margin-right: 0
            .item-box
                padding: .42666666667rem 0
                margin 0 .32rem
                border-bottom: 1px solid #F3F3F3
                display: flex
                align-items: center
                position relative
                .info-box
                    display: flex
                    align-items: center
                    .choose-ico, .account-ico 
                        width: .906666667rem
                        .add-front-ico
                            width: .64rem
                            height: .64rem
                        .first-name
                            width: .64rem
                            height: .64rem
                            line-height: .64rem
                            text-align: center
                            border-radius: 50%
                            background: #FEE3D8
                            color: #FF6D27
                    .choose-ico img
                        width: .42666666667rem
                        height: .42666666667rem
                        margin: 0 4px
                    .info-txt
                        width 82%
                        min-width: 8.18666667rem
                        padding-left .906666667rem
                        .first-line
                            width: 100%
                            display: flex
                            align-items: center
                            line-height: .64rem
                            font-family: Source Han Sans CN
                            b
                                font-size: .373333333rem
                                color: #333
                                max-width: 3.8rem
                                text-overflow: -o-ellipsis-lastline;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                line-clamp: 1;
                                -webkit-box-orient: vertical;
                            .phone-p 
                                padding:0 .21333333333rem
                                p
                                    font-size: .32rem
                                    color: #999
                                    font-family: DIN
                            .default-add, .long-default
                                width: .96rem
                                height: .53333333333rem
                                line-height: .53333333333rem
                                background: #36A6FE;
                                color: #fff
                                text-align: center
                                font-size: .26666666667rem
                                border-radius: 4px;
                            .long-default
                                padding: .106666667rem .16rem
                        .add-detail
                            width: 100%
                            max-width: 7.306666666667rem
                            color: #333
                            font-size: .32rem
                            margin-top: .2rem
                            overflow auto
                    .choose-item
                        padding-left 0 !important
                .edit-ico
                    position absolute
                    width: 8%
                    max-width: .8rem
                    height: 100%
                    right: 0
                    text-align: right
                    img
                        width: .42666666667rem
                        height: .42666666667rem
                        position absolute
                        top:0;bottom:0;margin-top:auto;margin-bottom:auto
                        right: 0            
    .bottom-add-btn
        width 100%
        padding: .32rem
        background: #fff
        position fixed
        bottom 0
        left 0
        .fm-btn
            width 100%
            height: 1.06666666667rem
            border: none
            border-radius: 30px;
            color #fff
            font-size: .3733333333333rem
            letter-spacing: 1px
            box-shadow: 0 2px 4px #82D6F6
            background: linear-gradient(126deg,#82d6f6 0%, #0c89e9 98%);   
    .alert
        width: 90%;
        position: fixed;
        top: 45%;
        left: 5%;
        border-radius: 10px;
        background: #FFFFFF;
        font-size: .426rem;
        line-height: 60px;
        z-index: 9999;
        text-align: center;   
        p
            font-size: .4266666667rem     
        .alert-btn
            display: grid;
            grid-template-columns: repeat(2, 1fr);        
        .alert-btn :nth-child(1)
            color: #999999; 
            font-size: .53rem;
            border-top: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;        
        .alert-btn :nth-child(2)
            color: #36A6FE; 
            font-size: .53rem;
            border-top: 1px solid #E5E5E5; 
        
    