.order_pay
    background: #F4F4F4;
    color: #333333;
    font-size: .3733rem;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 1.8rem;
    .order-status-box
        padding: 0 .32rem
        .prompt-box
            text-align: center
            .warning
                width: .373333333rem
                height: .373333333rem
                line-height: .373333333rem
                background: #FE9819
                color: #fff
                border-radius: 50%     
                margin-right: .16rem   
                display: inline-block;

.order-head
    display: flex;
    line-height: 50px;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;

.order-head p
  margin: 0 auto;
  font-size: .427rem;

.order-head img
  margin: auto 0;
  width: 15px;
  height: 15px;
  margin-left: 15px;

.product-info
  width: 95%;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 10px auto;
  padding: 12px;

.orderinfo
  display: grid;
  grid-template-columns: 30% 50% 18%;
  grid-gap: 4px;
  margin-top: 20px;

.orderinfo img,video
  width: 2.56rem;
  height: 1.84rem;

.product-name
  max-height: 1.067rem;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical

.product-type
  color: #666666;
  font-size: .32rem;
  margin-top: 5px;
  padding: .16rem 0;
  border-radius: 4px;

.product-num
  color: #999999;
  font-size: .32rem;
  text-align: right;
  margin-right: 5px;

.price
  color: #999999;
  text-align: right;
  margin-right: 5px;
.mt-0
    margin-top: 0 !important
.price-num
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 5px;
  margin-top: 15px;
  line-height: .933rem;

.price-num :nth-child(2n)
//   font-weight: 550;
  text-align: right;

.price-num img
  width: 20px;
  height: 20px;

.count
  display: flex;
  margin: auto 0;
  margin-left: .3rem;

.num
  margin: 0 .322rem;
  line-height: .533rem;
  font-weight: 500 !important;

.pay-type
  width: 95%;
  margin: .32rem auto;
  padding: .16rem;
  border-radius: 6px;
  background: #FFFFFF;

.pay
  display: grid;
  margin: .533rem 0;
  grid-template-columns: 10% 80% 10%;

.pay-img
  width: .64rem;
  height: .64rem;

.radio-img
  width: .4267rem;
  height: .4267rem;

.title
  font-size: 16px;
  font-weight: 600;
  color: #333

.right
  width: 15px;
  height: 15px;
  margin:  auto 0;
  text-align: right;

.location
  margin: auto 0;
.receiver-name
  font-weight:550;
  max-width: 3.8rem;
  max-height: .6rem;
  margin-bottom: .32rem;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
.area
  width: 96%;
  max-height: 1.42rem
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical

.default
  height: .5rem;
  font-size: .32rem;
  color:#FFFFFF;
  border-radius:.10667rem;
  padding: 0 .16rem;
  background:#36A6FE;

.protocol-box
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-left: .32rem;
  font-size: .32rem;
  color: #999999;

.protocol
  font-size: .32rem;
  color: #36A6FE;

.protocol-img
  margin-right: .22rem;

.order-footer
  position: fixed;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  height: 1.85rem;

.product-pay
  display: grid;
  grid-template-columns: 65% 35%;
  font-size: .32rem;

.submit
  font-size: .42667rem;
  background: #36A6FE;
  border-radius: .5333rem;
  color: #FFFFFF;
  width: 112px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;

.submit-pay
  font-size: .42667rem;
  padding: .24rem .42667rem;
  background: #36A6FE;
  height: 40px;
  border-radius: 20px;
  color: #FFFFFF;
  margin: 0 .32rem;

.add-receive
  width: 102px;
  height: 24px;
  background: #ffffff;
  color: #36A6FE;
  border: 1px solid #36a6fe;
  border-radius: 4px;
  padding: 0 5px;
  text-align: center;
  line-height: 24px;

.alert
  width: 90%;
  position: fixed;
  top: 45%;
  left: 5%;
  border-radius: 10px;
  background: #FFFFFF;
  font-size: .426rem;
  line-height: 60px;
  z-index: 9999;
  text-align: center;

.alert-btn
  display: grid;
  grid-template-columns: repeat(2, 1fr);

.alert-btn :nth-child(1)
  color: #999999; 
  font-size: .53rem;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;

.alert-btn :nth-child(2)
  color: #36A6FE; 
  font-size: .53rem;
  border-top: 1px solid #E5E5E5;

.bootom-left-info
    padding: .16rem .32rem
.warning-text
  font-size: .32rem;
  color:red;
  margin-left: .32rem;
  padding-bottom: .32rem

.order-num
  text-align: right;

.pay-progress
  display: grid;
  grid-template-columns: 5% 75% 20%;

.pay-line
  width: 1px;
  height: .8rem;
  border-left: 1px solid #CECECE;
  margin: -6px 0;
  margin-left: .20rem;

.bright-img
  width: .42666rem;
  height: .4266666rem;
  margin: 0 auto;

.dark-img
  width: .26666rem;
  height: .26666rem;
  // margin-left: .08rem;

.service-fee
  margin-left: 10px;

.bright-fee
  color: #FD651C;

.dark-fee
  color: #999999;

.final-fee
  margin-top: .4rem;

.long-name
  margin: .12rem 0

.unit-price
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 5px;
  line-height: .933rem;

.unit-price img
  width: .53333rem;
  height: .53333rem;

.unit-price :nth-child(2n)
  text-align: right;

.pay-status
  text-align: right;
  padding: 5px;

.line
  border-top: 1px solid #F1F4F9;
  margin: 5px 0;
.line-center
    line-height: 1.69rem
.service-title
  margin: .32rem 0;
  font-weight: 600
.service-img {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-img image {
  width: 32px;
  height: 32px;
}
.service-img-deault {
  width: 20px !important;
  height: 20px !important;
}
.service-item-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #FD651C;
}
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .38rem;
}
.lang-sty {
  position: absolute;
  top: 15px;
  left: 8px;
  width: 1px;
  height: 24px;
  background: #c2c2c2;
}
.lang-default-sty {
  top: 12px;
}
.item-name{
  margin-right: 4px;  
}
.service-gray-sty {
  color: #999999 !important;
}
.service-fee-contain{
  display: flex;
  flex-direction: column;
}
.center-foot{
  padding: 10px 0  
}