.item-wrap{
    display flex
    margin $fs12
    flex-wrap: wrap;
    justify-content: space-between;
}
.element{
    width: 49%;
    height: 210px;
    margin-bottom: 12px;
    border-radius: 10px;
    background: #ffffff;
}
.productImg{
    width: 100%;
    height: 121px;
    border-top-left-radius: var(--size-12);
    border-top-right-radius: var(--size-12);
}
.des{
    padding:8px 12px 12px 12px;
}
.producttitle{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.productinfo{
    font-size: 12px;
    color: #999999;
    margin: 7px 0 7px 0;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price{
    color: #FA7A42;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maxproject{
    max-width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.since-txt{
    font-size: var(--size-12);
    font-weight: 500;
}