/* .container {
  margin: 0 auto;
  font-family: Microsoft YaHei;
}
.container:before{
  content:"";
  display:table;
} */
.flex{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
  
.text-flow{
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}