.frame{
    width: 100%;
    user-select: none;
    margin: 0 auto;
    background: #F1F1F1;
    font-family: Microsoft YaHei UI;
    font-size: 14px;
    .orange_sty {
      color: #FF7712;
    }
    .grey_sty {
      color: #808080;
    }
    .blue_sty {
      color: #36a6fe;
    }
    .breadcrumbSty {
      width: 500px;
      margin: 0px 0px 0px 360px;
      padding-top: 18px;
    }
    .content{
      width: 1200px;
      min-height: 630px;
      margin: 15px auto;
      padding-bottom: 20px;
      position: relative;
      display: flex;
      .left_frame {
        width: 72%; 
        background: #fff;
        padding-bottom: 50px;
        .property_no_data{
          background: #ffffff;
          height: 600px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .tip {
            width: 169px;
            height: 20px;
            font-size: 16px;
            font-family: Microsoft YaHei UI, Microsoft YaHei UI-Regular;
            font-weight: 400;
            text-align: center;
            color: #bfbfbf;
            line-height: 20px;
            letter-spacing: 0.98px;
            margin-left: -25px;
          }
        }
        .left_container {
          position: relative;
          .left_buy {
            position: absolute;
            top: -64px;
            right: 0;
            padding: 5px 15px;
            background: #36a6fe;
            border-radius: 4px;
            font-size: 12px;
            font-family: Microsoft YaHei, Microsoft YaHei-Light;
            font-weight: 300;
            color: #ffffff;
            letter-spacing: 0.6px;
          }
          .img_box {
            width: 90%;
            height: 600px;
            margin: 10px auto;
            .img_default {
              margin: 110px auto;
              display: flex;
              flex-direction: column;
              align-items: center;
              img {
                width: 209px;
                height: 218px;
              }
              p {
                font-size: 14px;
                font-family: Microsoft YaHei, Microsoft YaHei-Bold;
                font-weight: 700;
                color: #36a6fe;
                letter-spacing: 0.84px;
              }
            }
            .order {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 95%;
              z-index: 9999;
              cursor: pointer;
              position: absolute;
              bottom: 5px;
              left: 0;
              height: 202px;
              background: url('~assets/images/zhengce/bg.png') no-repeat;
              span {
                font-size: 14px;
                font-family: Microsoft YaHei, Microsoft YaHei-Bold;
                font-weight: 700;
                color: #36a6fe;
                line-height: 21px;
                letter-spacing: 0.84px;
                filter: none;
                z-index: 9999;
              }
            }
            .img_item {
              display: flex;
              width: 100%;
              flex-direction: column;
              .img_sty {
                display: block;
                margin: auto;
                width: 100%;
              }
            }
          }
          .scroll {
            overflow-y: scroll !important;
            height: 600px !important;
          }
          .hidden {
            height: auto !important;
            overflow-y: none !important;
          }
          .left_con {
            width: 100%;
            margin-top: 64px;
            .title {
              font-size: 14px;
              font-family: Microsoft YaHei, Microsoft YaHei-Bold;
              font-weight: 700;
              color: #333333;
              letter-spacing: 0.84px;
              text-align: center;
            }
            .operate {
              margin: 10px 0 22px 0;
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              .font_sty {
                font-size: 12px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                color: #A8A8A8;
                line-height: 12px;
                margin-right: 12px;
                cursor: pointer;
              }
              .level_sty {
                height: 21px;
                line-height: 21px;
                margin-right: 16px;
                background: #d2ebff;
                border-radius: 4px;
                font-size: 12px;
                font-family: Microsoft YaHei, Microsoft YaHei-Light;
                font-weight: 300;
                color: #36a6fe;
                letter-spacing: 0.72px;
                text-align: center;
                padding: 0 10px;
              }
            }
          }
        }
        .nopreview{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
        .nopreview-img{
          width: 209px;
          height: 218px;  
        }
        .nopreview-text{
          font-size: 14px;
          font-weight: 700;
          color: #36a6fe;
        }
      }
      .right-frame{
        width: 27%;
        background: #FFF;
        margin-left: 1%;
      }
    } 
}
