.order-project {
    font-size: 14px;
    height: 100%;
    background: #fff;
    padding: 10px;
  }
  
.order-filter-item {
    margin: 0 0 15px 0;
}
.order-name-sty {
    font-size: 14px;
    color: #606266;
}
.order-btn-sty {
    margin: 0 20px 0 0;
}
.order-border-sty {
    border-left: 1px solid #dcdfe6;
}
.order-list-sty {
    margin-top: 10px;
}
.detail-head img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.order-no{
    font-size: 18px;
    font-weight: 550;
    margin-right: 20px;
}
.top-info{
    margin: 20px;
}
.top-info-item{
    font-size: 14px;
}
.top-info-item h3{
    color: #333;
}
.top-info-item p{
    color: #555;
}
.tab-title{
    border-left: 4px solid #409EFF;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #333;
    padding-left: 8px;
    margin-bottom: 20px;
}