/* 框架左侧宽带调整 */
.avue-left{
  width: 170px !important;
}
.el-submenu__title{
  padding: 0 10px !important;
}
.avue-logo{
  width: 170px !important;
}
.avue-main{
  width: calc(100% - 170px) !important;
  left: 170px !important;
}
.avue-header {
  padding-left: 170px !important;
}
.el-submenu .el-menu-item{
  min-width: 170px !important;
  padding-left: 30px !important;
}
.el-submenu [class^=el-icon-] {
  width: 18px !important;
}
/* 禁用员工标识 */
.disable_img_sty {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.must-red {
  margin-left: -90px;
  color: red;
}

.reset-site {
  margin-left: 75px !important;
}
/* 可操作的列高亮 */
.operable{
  color: #36a6fe;
  cursor: pointer;
}
.paging {
  text-align: right;
  margin-top: 10px;
}
.circle-red {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: red;
  margin-right: 6px;
}

.circle-blue {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: #36a6fe;
  margin-right: 6px;
}
.circlePurple {
  background: #CC00FF;
}
.circleYellow {
  background: #ff9900;
}
.success {
  font-weight: bolder;
  font-size: 12px;
  float: left;
  color: green;
  margin-top: 2px;
  margin-right: 6px;
}
.detail-page{
  width: 100%;
  height: 100%;
  margin: 10px;
}
.order-detail-card{
    min-width: 960px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 20px;
}
.detail-head{
  display: flex;
  align-items: center;
}
.top-head-tips{
    position: relative;
    top: 10px;
    left: 22px;
    color: #666;
}
.top-head-tips .user{
    margin-right: 10px;
    border-radius: 3px;
    color: #027502;
    font-size: 14px;
    padding: 3px 5px;
    border: 1px solid #c4f5c4;
}
.detail-grid-5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
}
.mg-20{
  margin-top: 20px;
}
.min-height-460{
  min-height: 460px;
}
.order-keywords{
  width: 320px;
}
.order-time{
  width: 330px !important;
}
.no-authority{
  width: 100%;
  min-height: 600px;
}
.no-authority img{
  width: 260px;
  display: block;
  margin: 120px auto;
}
.no-authority p{
  text-align: center;
  font-size: 14px;
  color: #666;
  margin: auto;
}

.min-h-table .el-card__body .el-form{
  margin: 12px 0 !important;
  min-height: 500px !important;
}