function cutCourseTitle(status, title) {
  if (title !== '' && title !== null) {
    return status == true ? title.slice(0, 11) : title.slice(11);
  }
}

function getTitleLength(val) {
  if (val !== '' && val !== null) {
    return val.length;
  }
}

// 计算课程进度
function fixClassPercent(val) {
  return parseInt(val * 100)
}

module.exports = {
  cutCourseTitle: cutCourseTitle,
  getTitleLength: getTitleLength,
  fixClassPercent: fixClassPercent
}