.search-container
    background:#eee;  
    padding-top: 20px
    .result
        width: 1200px
        margin: 0 auto
        background: #fff
        height: 42px
        line-height: 42px
        font-size: 14px
        color: #686868 
        padding-left: 18px
    .filter-box
        width: 1200px
        margin: 0 auto
        border-top: 1px solid #e5e5e5
        padding-bottom: 40px
    .tab-box
        width: 1200px
        margin: 0 auto
        background: #fff
        border-bottom: 2px solid #36A6FE
        display: flex
        align-items: center
        padding-top: 10px
        .tab-choosed
            background: #36A6FE
            color: #fff !important
            font-weight: 550
        .tab-item
            height: 56px
            line-height: 56px
            font-size: 16px
            color: #686868 
            font-family: Microsoft YaHei, Microsoft YaHei-Bold;
            div
                padding: 0 20px
                cursor pointer
    

    
    
    
