// 显示订单退款状态
function refundStatus(value) {
  return value == 1 ? '待审核' : value == 2 ? '待审核' : value == 3 ? '待审核' : value == 4 ? '已通过' : value == -2 ? '退款拒绝' : value == -1 ? '已撤销' :  '暂无';
}
function filterCostType(value){
  return value == 1 ? '代理费' : value == 2 ? '第三方费用' : value == 3 ? '官费' : '服务费'
}
function refundReason(value){
  return value == 1 ? '下错单了' : value == 2 ? '付款金额错误' : value == 3 ? '付款方式错误' : value == 4 ? '服务终止' : '其他';
}
function payTypeTransfer(value) {
  return value == 1 ? '对公转账' : value == 0 ? '支付宝' : value == 2 ? '微信' : '未知';
}
module.exports = {
  refundStatus:refundStatus,
  refundReason: refundReason,
  filterCostType: filterCostType,
  payTypeTransfer: payTypeTransfer
}