.element{
    width: 100%;
    margin-bottom: $fs12;
    border-radius: 10px;
    background: #ffffff;
    .productImg{
        width: 100%;
        height: 121px;
    }
    .des{
        padding:8px $fs12 $fs12 $fs12;
        .producttitle{
            font-size: $fs14;
            font-weight: 700;
            color: $tColor3;
            clamp-2(100%)
        }
        .productinfo{
            font-size: $fs12;
            color: $tColor9;
            clamp-1(3.89333333rem)

        }
        .price{
            color: #FA7A42;
            font-weight: 700;
            font-size: $fs16;
            display: flex;
            align-items: center;
            margin: $fs6 0
            justify-content: space-between;
        }
    }
    
}