//一行文字超过...需设置宽度
clamp-1(maxsize)
  width: maxsize
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
//两行文字超过...
clamp-2(maxsize) 
  width: maxsize
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  vertical-align: middle;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
$bgColorB = #36a6fe;
$fs2 = .053333333rem
$fs4 = .1066666666666667rem
$fs6 = .16rem
$fs10 = .26666666667rem
$fs12 = .32rem
$fs14 = .37333333rem
$fs16 = .426666667rem
$fs18 = .48rem
$fs20 = .53333333rem
$fs24 = .64rem
$fs32 = .853333333rem
$fs42 = 1.12rem
$fs48 = 1.28rem
$fs60 = 1.6rem
$tColor3 = #333
$tColor6 = #666
$tColor9 = #999

html * {
  font-size: .37333333rem
}
p{
  font-family: Source Han Sans CN
}
a{
  text-decoration: none
}
.full-width
  width: 100%
  display: block
.shadow
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.03);
.mint-header-title
    font-size: .42666667rem !important
    color: #333 !important
.gray-bg .mint-header
    background: #F4F4F4;
.title-bold-14
  font-size: .3733333333rem
  font-weight: 600
.p-size-14
  font-size: .3733333333rem !important
.p-size-12
  font-size: .32rem !important
.bright-fee
  color: #fd651c;
.member-certification 
  .mint-popup
    background: transparent !important;
.full-screen
  width 100%
  height 100%
  position relative
.component-wrap{
  width 100%
  position relative
}