.frame {
  width: 1200px;
  margin 0 auto
  background: rgb(245 245 245);
  font-size: 14px;
  font-family: Microsoft YaHei UI;
  display flex

  .assembly {
    flex 1
    margin-left 10px
    position relative
    background: #ffffff;

    .right-box {
      width: 100%;
      margin-bottom: 0;
      display: flex;

      .time-class {
        height: 100%;
        background: #FFF;

        .left-name {
          font-size: 16px;
          font-weight: bold;
          color: #323232;
          float: left;
          font-weight: bold;
          margin: 25px 0 10px 20px;
          text-align: center;
        }

        .more {
          float: right;
          margin: 25px 20px 10px 0;
          text-align: center;
          color: #323232;
          cursor: pointer;
          opacity: 0.5;
        }

        .title-list {
          margin-left: 20px;
          .over{
            width: 330px;
            cursor: pointer;
            margin-left:10px !important;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }

      }
    }
  }

  .troubleshooting {
     width: 100%;
     margin: 0 auto;
     position relative
     background #ffffff
    .trouble-content {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-top: 18px;
     
     .showask{
         width: 100%;
         background #ffffff
         display flex
         .showasktitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height 60px
            .scrollnav{
                width: 21px;
                height: 2px;
                background: #323232;
                opacity: 1;
                position: absolute;
                top: 32px;
                left:24px;
            }
           .title{
             color: #323232;
             opacity: 0.5;
             font-size: 16px;
            }
            .activetitle{
              color: #323232;
              font-size: 16px; 
              opacity: 1;
              font-weight: bold;
            }
           .moretitle{
             color: #323232;
             opacity: 0.5;
             font-size: 12px;
             margin-right: 20px;
             cursor: pointer;
            }
         }
         .askcontent{
           display flex
           justify-content: space-between;
           align-items: center;  
            .yiban{
              width 543px
              overflow: hidden; 
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
               color: #333333;
               font-size: 14px;
           }
           .otheryiban{
              width 346px !important
           }
         }
         .askcontent:hover{
           .yiban{
               color: #36A6FE;
           }
           .otheryiban{
             color: #36A6FE;
           }
          
         }

         
     }
    }
  }
}

.circle{
    width: 8px;
    height: 8px;
    background: #f97700;
    border-radius: 50%;
    opacity: 1;
}


// 导航
.policyNav{
    display:flex;
    cursor pointer
    height: 50px;
    line-height 50px
    align-items center
    background: linear-gradient(140deg, #57A8EB 0%, #8CCBFC 100%);
    border-radius: 5px 5px 0px 0px;
    padding 0 20px 0 20px
    .notice{
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-left:2.5px;
        cursor pointer
    }
    .more{
        position: absolute;
        right: 16px;
        color #fff
        font-size: 12px;
        display: flex;
        align-items: center;
        cursor pointer
    }
}

.newpolicyNav{
    display:flex;
    height: 50px;
    line-height 50px
    align-items center
    background: linear-gradient(140deg, #F8B45E 0%, #F9CF9A 100%);
    border-radius: 5px 5px 0px 0px;
    padding 0 20px 0 20px
    cursor pointer
    .notice{
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin-left:2.5px;
        cursor pointer
    }
    .more{
        position: absolute;
        right: 15px;
        color: #999999;
        font-size: 12px;
        display: flex;
        align-items: center;
        cursor pointer
        color #fff
    }
}
.projectImg{
  width 100%
  height 86px
  background-image: url('~assets/images/last/big_xmsb_pic@2x.png');
  // opacity: 0.7;
  background-size cover
  padding-left 20px
  padding-top 20px
  .ta{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
  }
  .tb{
     margin-top 10px
     font-size: 12px;
     color: #FFFFFF;
  }
}
.smallprojectImg{
  background-image: url('~assets/images/last/small_xmsb_pic@2x.png');
  // opacity: 0.7;
}
.zhichanImg{
  width 100%
  height 86px
  background-image: url('~assets/images/last/big_zscq_pic@2x.png');
  // opacity: 0.7;
  background-size cover
  padding-left 20px
  padding-top 20px
  .ta{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
  }
  .tb{
     margin-top 10px
     font-size: 12px;
     color: #FFFFFF;
  }
}
.smallzhichanImg{
   background-image: url('~assets/images/last/small_zscq_pic@2x.png');
  //  opacity: 0.7;
}

.zhengceImg{
  width 100%
  height 86px
  background-image: url('~assets/images/last/zchb_pic@2x.png');
  // opacity: 0.7;
  background-size cover
  padding-left 20px
  padding-top 20px
  .ta{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 16px;
  }
  .tb{
     margin-top 10px
     font-size: 12px;
     color: #FFFFFF;
  }
}


.teshuya{
  width 790px !important
}


.over:hover{
  color: #36A6FE;
}


.bord{
        display: inline-block;
        width: 4px;
        height: 18px;
        background: #36A6FE;
        border-radius: 4px;
        margin-left 20px
}
.des{
        display: inline-block;
        margin-left: 10px;
        margin-top: 6px;
        font-size: 12px;
        color: #FFFFFF; 
}
.t{
font-size: 16px;
color: #333333;    
font-weight: bold;
position: relative;
top: -3px;
left: 12px;
}