.frame{
    width:100%;
    min-width:1200px;
    font-size:14px;
    font-family: Microsoft YaHei UI;
    //  background:#EFEFEF;
    background: rgb(245 245 245);
    .content_box{
        width:1200px;
        margin:0 auto;
        .head_title{
            font-size:26px;
            width:108px;
            padding-top:30px;
            margin:0 auto;
            color:#373D40;
        }
        .title_line{
            width:48px;
            height:3px;
            background:#36A6FE;
            margin:5px auto;
        }
        .grid{
            width:1200px;
            margin:22px auto;
            display:inline-grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            grid-gap: 10px;
            grid-auto-rows:auto;
            .row{
                box-shadow: 0px 0px 20px rgba(52, 76, 125, 0.16);
                width:384px;
                .project_head{
                    width:100%;
                    height:88px;
                    cursor:pointer;
                    background-size:cover;
                    .logo{
                        width:60px;
                        height:60px;
                        margin-top:14px;
                        margin-left:290px;
                    }
                }
                .project_head p{
                    color:#FFF;
                    font-size:24px;
                    margin-top:-50px;
                    margin-left:20px;
                }
                .project_list{
                    width:100%;
                    height:167px;
                    background:#F5F9FF;
                    cursor:pointer;
                    .title{
                        font-size:18px;
                        font-weight:bold;
                        color:#373D40;
                        padding-top:28px;
                        margin-left:20px;
                        margin-right:20px;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                    }
                    .content{
                        min-height:40px;
                        font-size:16px;
                        color:#A8A8A8;
                        margin:10px 20px;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2;
                    }
                    .btn{
                        display:flex;
                        margin-left:20px;
                        margin-bottom:24px;
                        justify-content: flex-end;
                        .detail{
                            color:#36A6FE;
                            padding:4px 11px;
                            border:1px solid #36A6FE;
                            border-radius: 30px;
                        }
                        .consult{
                            color:#FB322F;
                            padding:4px 11px;
                            margin-left:20px;
                            border-radius: 30px;
                            margin-right:20px;
                            border: 1px solid #F97700;
                            color: #F97700;
                        }
                    }
                }
                .project_list .detail:hover {
                    // border:1px solid #34A5FC;
                        background:#36A6FE;
                        color:#FFF;
                }
                 .project_list .consult:hover {
                        background: #F97700;
                        color:#FFF;
                }
                .four{
                    display:grid;
                    grid-template-columns:50% 50%;
                    grid-auto-rows:auto;
                    background:#FFF;
                    cursor:pointer;
                    .second_box{
                        height:100px;
                        border-bottom:1px solid #CECECE;
                        border-right:1px solid #CECECE;
                        position relative
                        .second_box_mask{
                            position:absolute;
                            top:0;
                            left:0;
                            height:100px;
                            width:100%
                            opacity:0;
                            background:rgba(38, 89, 136, .8);
                            .maskbtn1{
                                position:absolute;
                                margin-top:70px;
                                margin-left:7px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#36A6FE;
                                border-radius:2px;
                            }
                            .maskbtn2{
                                position:absolute;
                                margin-top:70px;
                                margin-left:105px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#FB322F;
                                border-radius:2px;
                            }
                        }
                    }
                    .second_box p:nth-child(1){
                        color:#373D40;
                        margin:10px 22px 6px 20px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2;
                    }
                    .second_box p:nth-child(2){
                        color:#A8A8A8;
                        font-size:12px;
                        margin:10px 22px 6px 20px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2;
                    }
                    .second_box:hover .second_box_mask{
                        opacity:1;
                    }
                }
                .three{
                    display:grid;
                    background:#FFF;
                    cursor:pointer;
                    .box{
                        height:67px;
                        border-bottom:1px solid #CECECE;
                        position relative
                        .box-mask{
                            position:absolute;
                            top:0;
                            left:0;
                            height:67px;
                            width:100%
                            opacity:0;
                            background:rgba(38, 89, 136, .8);
                            .box-mask1{
                                position:absolute;
                                margin-top:37px;
                                margin-left:200px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#36A6FE;
                                border-radius:2px;
                            }
                            .box-mask2{
                                position:absolute;
                                margin-top:37px;
                                margin-left:300px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#FB322F;
                                border-radius:2px;
                            }
                        }
                    }
                    .box p:nth-child(1){
                        color:#373D40;
                        margin:10px 22px 6px 20px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                    }
                    .box p:nth-child(2){
                        color:#A8A8A8;
                        font-size:12px;
                        margin:10px 22px 6px 20px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                    }
                    .box:hover .box-mask{
                        opacity:1;
                    }
                }
                .two{
                    display:grid;
                    background:#FFF;
                    cursor:pointer;
                    .vicy_list{
                        height:100px;
                        border-bottom:1px solid #CECECE; 
                        position relative
                        .vicy-list-mask{
                            position:absolute;
                            top:0;
                            left:0;
                            height:100px;
                            width:100%
                            opacity:0;
                            background:rgba(38, 89, 136, .8);
                            .vicy-list-mask1{
                                position:absolute;
                                margin-top:70px;
                                margin-left:200px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#36A6FE;
                                border-radius:2px;
                            }
                            .vicy-list-mask2{
                                position:absolute;
                                margin-top:70px;
                                margin-left:300px;
                                color:#FFF;
                                padding:4px 11px;
                                font-size:14px;
                                background:#FB322F;
                                border-radius:2px;
                            }
                        }
                    }
                    .vicy_list p:nth-child(1){
                        color:#373D40;
                        margin:23px 23px 20px 21px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                    }
                    .vicy_list p:nth-child(2){
                        color:#A8A8A8;
                        font-size:12px;
                        margin:10px 22px 6px 20px; 
                        text-overflow:ellipsis;
                        overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:1;
                    }
                }
                .vicy_list:hover .vicy-list-mask{
                    opacity:1;
                }
            }
            
        }
    }
}