.tia{
   font-weight: bold;
   font-size: 32px;
   color: #333333;
   cursor pointer
}
.tib{
  margin-left:13px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
   cursor pointer
}
.morezhichuan{
  color: #999999;
  font-size: 15px;
  position: absolute;
  top: 18px;
  right: 0;
  cursor: pointer;
}
.list{
    width 1200px
    margin: 0 auto
    display flex
    flex-wrap wrap
}
.projectItem{
    width: 227px;
    height: 286px;
    background: #FFFFFF;
    border-radius: 8px;
    padding 10px 10px 10px 10px
    margin-right 16px
    margin-bottom 14px
    position: relative;
 .project-img{
    width 207px
    height 148px
    margin-bottom 12px
    cursor pointer
    border-radius: 4px;
  }
  .title{
      width 206px
      display inline-block
      font-weight: bold;
      color: #333333;
      font-size: 16px;
      margin-bottom 5px
      cursor pointer
      text-overflow:ellipsis;
      overflow:hidden;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
  }
  .description{
      width 206px
      color: #999999;
      font-size: 14px;
      cursor pointer
      text-overflow:ellipsis;
      overflow:hidden;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
  }
    .specialdescription{
      -webkit-line-clamp:1;
  }
  .message{
      display flex
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 10px;
      width: 207px;
      .type{
          font-size: 12px
          color: #999999;
          height 15px
          cursor pointer
      }
      .ask{
          width: 80px;
          height: 28px;
          line-height 28px
          border: 1px solid #36A6FE;
          opacity: 1;
          border-radius: 5px;
          color: #36A6FE;
          font-size: 12px;
          text-align center
          cursor pointer
      }
  }
}
.projectItem:nth-child(5n+5){
   margin-right 0
}
.projectItem:hover{
    border: 2px solid #36a6fe;
      .type{
          color: #36A6FE;
      }
      .ask{
          background: #36A6FE;
          color: #FFFFFF;
      }
      .optionName{
           display: inline-block;
      }
}



.price_content {
    position: absolute;
    bottom: -0.05333333333333334rem;
}
.priceIcon{
    color:#FF6D27;
    font-size: 12px;
}
.price{
    color:#FF6D27;
    font-size: 16px;
}
.nowchat{
    color:#FF6D27;
    font-size: 14px;
}
.huaxian{
    font-size: 10px;
    color: #c5c5c5;
    text-decoration:  line-through;
    margin-left: 4.5px;
}
.optionName{
    padding: 4px 8px;
    border-radius: 2px;
    background: #f5594d;
    color :#fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20); 
    position: absolute;
    top: 18px;
    left: 18px;
    display: inline-block;
    font-size : 12px;
    display:none;
}
