.zhipage{
    width:1200px;
    margin:0 auto;
}
.chipage{
    width:1200px;
    margin:20px auto;
    position:relative;
}
.tia{
   font-weight: bold;
   font-size: 32px;
   color: #333333;
}
.tib{
  margin-left:13px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}
.morezhichuan{
  color: #999999;
  font-size: 15px;
  position: absolute;
  top: 18px;
  right: 0;
  cursor: pointer;
}
.one{
  width 100%
  display flex
  height 333px
  margin-bottom 20px
}
 .zhuan{
   flex 1
   display flex
   .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/xmsb_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
   .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
      position relative
      .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
   }
  }
 .shang{
    flex 1
    display flex
    margin-left 20px
    .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/zsqc_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
    .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
       position relative
      .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
   }
  } 

.two{
  width 100%
  display flex
  height 333px
  margin-bottom 20px
}
 .banquan{
   flex 1
   display flex
   .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/gs_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
   .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
      position relative
      .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
   }
  }
 .qita{
    flex 1
    display flex
    margin-left 20px
    .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/cs_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
    .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
       position relative
     .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
      
   }
  } 

.three{
  width 100%
  display flex
  height 333px
  margin-bottom 28px
}
  .falv{
    flex 1
    display flex
    .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/fl_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
    .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
       position relative
     .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
      
   }
  } 
  .rongzi{
    flex 1
    display flex
    margin-left 20px
    .left{
     width 170px
     height 332px
     background-image url('~assets/images/index/rz_pic@2x.png')
     background-size cover
     cursor pointer
     position relative
   }
    .right {
      flex 1
      display flex
      flex-wrap: wrap;
      background: #FFFFFF;
       position relative
     .page{
         position absolute
         left 50%
         bottom 8px
         transform translateX(-50%)
         display flex
      }
      
   }
  } 


.lalala{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin 29px 0 15px 30px
}
.yiyiyi{
    font-size: 12px;
    color: #FFFFFF;
    margin-left 30px
    margin-top 2px
}
.item{
  width 50%
  height 167px
  padding 27px 28px
  border-right 1px solid #EDEDED
  border-bottom 1px solid #EDEDED
}
.item:hover{
   border-bottom 2px solid #36A6FE
  .askbtn{
    background: #36A6FE;
    color: #FFFFFF;
  }
  .title{
    color: #36A6FE;
  }
}
.pat-img{
  width 60px
  height 60px
}
.askbtn{
  width: 92px;
  height: 26px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 2px;
  margin-top 23px;
  color: #36A6FE;
  font-size 12px;
  border: 1px solid #36A6FE;
  line-height 26px;
  text-align: center;
  cursor pointer
}
.pricebtn{
  height: 26px;
  background: #FFFFFF;
  opacity: 1;
  color: #fd6a23;
  margin-top 23px;
  font-size 18px;
  line-height 26px;
  text-align: left;
}
.des{
  .title{
    width 152px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    cursor pointer
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .content{
    width 152px
    height 37px
    font-size: 14px;
    color: #999999;
    margin-top 8px
    cursor pointer
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.isactive{
  opacity 1 !important
}


.newitem{
  width 100%
  height 169px
  padding 17px 0 18px 42px
  border-right 1px solid #EDEDED
  border-bottom 1px solid #EDEDED
}
.newitem:hover{
  .newaskbtn{
    background: #36A6FE;
    color: #FFFFFF;
  }
  .title{
    color: #36A6FE;
  }
}
.newpat-img{
  width 142px
  height 133px
}


.nodata{
   position: absolute;
   left: 50%;
   bottom: 64px;
   transform translateX(-50%)
   text-align: center;

}
.quanyiword{
  color: #333333;
  font-size: 18px;
  font-weight: bold;
}

.ping{
  color: #999999;
  font-size: 14px;
  width: 155px;
  display: inline-block;
}

.newnodata{
   position: absolute;
   left: 74%;
   bottom: 64px;
   transform translateX(-50%)
   text-align: center;
}

.hengxian{
    position: absolute;
    top: 60px;
    left: 32px;
    width: 24px;
    height: 2px;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 4px;
}
.everyitem{
    color: #666666;
    font-size 14px
    margin-left 20px
    position: relative;
    top: 20px;
    cursor pointer
}
.everyitem:hover{
    color: #36a6fe;
}

.rest{
    width 418px
    height 166px
    padding 25px 0 25px 28px
    .moretit{
        font-weight: bold;
        color: #333333;
        font-size: 16px;
        margin-bottom 10px;
        cursor pointer
    }
    .morechanping{
        font-size: 14px;
        color: #333333;
        margin-bottom 6px
        display flex
        .motit{
           width 118px
           cursor pointer
        }
    }
}
.priceIcon{
    color:#fd6a23;
    font-size: 18px;
}
.priceIcona{
    color:#fd6a23;
    font-size: 12px;
}
.price{
    color:#fd6a23;
    font-size: 18px;
}
.nowchat{
    color:#fd6a23;
    font-size: 18px;
}
.huaxian{
    font-size: 10px;
    color: #c5c5c5;
    text-decoration:  line-through;
    margin-left: 4.5px;
}
.motit:hover{
    color: #36a6fe;
}