//一口价
function filterOnePrice (val){
    return ((val.dueTypeAgencyFee?val.dueTypeAgencyFee:0) +  (val.dueTypeThirdPartyFee?val.dueTypeThirdPartyFee:0))
}

//定金
function filterdepositPrice (val) {
    return ((val.depositTypeAgencyFee?val.depositTypeAgencyFee:0) +  (val.depositTypeThirdPartyFee?val.depositTypeThirdPartyFee:0))
}
//尾款
function filterfinalPrice (val) {
    if((val.finalTypeAgencyFee?val.finalTypeAgencyFee:0 + val.finalTypeThirdPartyFee?val.finalTypeThirdPartyFee:0)==0){
        return '待定'
    }else{
        return ((val.finalTypeAgencyFee?val.finalTypeAgencyFee:0) + (val.finalTypeThirdPartyFee?val.finalTypeThirdPartyFee:0))
    }
}
//价格显示
function filterViewprice (val){
    if(val.toString().length<=5){
        return val
    }else{
        return ((val/10000)+'万')
    }
}
//没有配置de数据
function filterDifference (val){
  return val
}
//是否属于没配置de数据中
function filterBelong (val,data){
  if(data.indexOf(val)==-1){
    return true
  } else {
    return false
  }
}
  // 带小数点价格显示
function filterDecimalPrice (val){
  if((val/1).toString().length<=5){
      return (val/1)
  }else{
      return (((val/1)/10000)+'万')
  }
}
//产品类型
function filterProjectType (val){
    return val==1?'项目申报':val==7?'工商注册':val==8?'财税服务':val==9?'融资上市':val==10?'法律服务':val==11?'软件开发':'知识产权'
}
function filterSlice(val,start,end){
    return val.substring(start,end)
}
module.exports = {
    filterOnePrice:filterOnePrice,
    filterdepositPrice:filterdepositPrice,
    filterfinalPrice:filterfinalPrice,
    filterProjectType:filterProjectType,
    filterViewprice:filterViewprice,
    filterDecimalPrice:filterDecimalPrice,
    filterDifference: filterDifference,
    filterBelong: filterBelong,
    filterSlice:filterSlice
}