function filterList(start, end, list) {
  if (list.length < 5) {
    if (end > 4) {
      return list.slice(start - 4, end - 4)
    } else {
      return list.slice(start, end)
    }
  } else if (list.length > 4 && list.length < 8) {
    return (list.slice(start, end)).concat(list.slice(0, 8 - list.length))
  } else {
    return list.slice(start, end)
  }
}

function returnList(start, end, list) {
  if(list){
    return list.slice(start, end)
  }
}

function returnCate(val) {
  if(val){
    return val == 1 ? '项目申报' : val == 2 ? '知识产权' : val == 7 ? '工商财税' : val == 9 ? '融资上市' : val == 10 ? '法律服务':val == 11 ? '软件开发':''
  }
}

function returnLength(list) {
  return list.length;
}

function handleStr(str) {
  var newstr;
  if(str == '香港' || str == '台湾' || str == '澳门'){
    newstr = str
  }else{
    newstr = str.lastIndexOf('市') ? str.slice(0,str.lastIndexOf('市')) : str
    if(newstr.length>3){
      newstr = newstr.slice(0, 3) + '...'
    }
  }
  return newstr;
}

function getProClassifyName(type) {
  var url = ""
  var title = ""
  switch (type) {
    case 0:
      url = "/image/classify/property_zl.png"
      title = "专利服务"
      break
    case 1:
      url = "/image/classify/property_sb.png"
      title = "商标服务"
      break
    case 2:
      url = "/image/classify/property_bq.png"
      title = "版权服务"
      break
    case 3:
      url = "/image/classify/property_other.png"
      title = "其他服务"
      break
  }
  return {
    url: url,
    title: title
  }
}

function getProjectIcon(type) {
  var url = ""
  var title = ""
  switch (type) {
    case 4:
      url = "/image/classify/icon_kj.png"
      title = "科技厅"
      break
    case 5:
      url = "/image/classify/icon_jx.png"
      title = "经信厅"
      break
    case 6:
      url = "/image/classify/icon_fg.png"
      title = "发改委"
      break
    case 7:
      url = "/image/classify/icon_wl.png"
      title = "文旅厅"
      break
    case 9:
      url = "/image/classify/icon_ny.png"
      title = "农业厅"
      break
    case 10:
      url = "/image/classify/icon_sw.png"
      title = "商务厅"
      break
    case 11:
      url = "/image/classify/property_other.png"
      title = "其他"
      break
  }
  return {
    url: url,
    title: title
  }
}

// 截取字符串中的第一个字符
function subFirstCode(val) {
  return val.slice(0, 1)
}
// 筛选产品名称
function filterType(val) {
  var title = ""
  switch (val) {
    case 0:
      title = '通知公告';
      break;
    case 1:
      title = '政策汇编';
      break;
    case 2:
      title = '疑难解答';
      break;
    case 3:
      title = '文件下载';
      break;
    case 4:
      title = '项目申报';
      break;
    case 5:
      title = '知识产权';
      break;
    case 10:
      title = '行业资讯';
      break;
    case 99:
      title = '技术成果';
      break;
    case 100:
      title = '技术需求';
      break;
    case 11:
      title = '工商注册';
      break;
    case 12:
      title = '财税服务';
      break;
    case 13:
      title = '融资上市';
      break;
    case 14:
      title = '法律服务';
      break;
    case 15:
      title = '软件开发';
      break;
  }
  return title;
}

function filterLevel(val) {
  return val == 1 ? '国家级' : val == 2 ? '省级' : val == 3 ? '市级' : val == 4 ? '区级' : ''
}

function filterOption(val,num) {
  if(val){
    return val.length > num ? val.slice(0,num) + '...': val
  }
}

function filterElement(arr, str) {
  return arr.indexOf(str) > -1 ? true : false
}

function filterAmount(val) {
  if (val != undefined) {
    return val.toFixed(2)
  }
}

module.exports = {
  filterList: filterList,
  returnLength: returnLength,
  returnList: returnList,
  subFirstCode: subFirstCode,
  getProClassifyName: getProClassifyName,
  getProjectIcon: getProjectIcon,
  filterType: filterType,
  handleStr: handleStr,
  filterLevel: filterLevel,
  returnCate: returnCate,
  filterOption: filterOption,
  filterElement: filterElement,
  filterAmount: filterAmount
}