.attribution li{
    list-style:none;
    cursor pointer;
}
        .only-show-city{
          min-height:50px;
          line-height:30px;
          display:flex;
          flex-flow:row wrap;
          .area{
            color:#333333;
            font-size:14px;
            font-weight:bold;
            width:150px;
            padding-right: 10px;
            text-align: right;
            border-right:1px solid #EEE;
          }
          .city-name{
            width: 1050px;
            padding: 10px 0 10px 15px
            display: flex;
            flex-flow:row wrap;
          }
          .city-name p{
            color:#656565;
            margin:0 15px;
            line-height: 24px
            cursor:pointer;
            font-size: 14px
          }
        }
        .centralized{
            min-height: 40px;
            line-height:50px;
            display:flex;
            flex-flow:row wrap;
            border-bottom:1px solid #D6D6D6;
            .class-name{
                color:#333333;
                font-size:14px;
                font-weight:bold;
                width:150px;
                padding-right:10px;
                text-align: right;
                border-right:1px solid #eee;
            }
            .classification{
                width:80%;
                display: flex;
                flex-flow:row wrap;
                // margin-left:15px;
                .btn{
                    color:#656565;
                    cursor:pointer;
                }
                .btn span{
                    padding:3px 15px;
                }
                .btn:hover{
                    color:#36A6FE;
                }
            }
        }
        li:hover{
            color:#36A6FE;
        }
        .city-box{
          width:1050px;
          background:#F2F2F2;
          min-height:100px;
          margin-top:-12px;
          padding-top: 12px;
          border-left:1px solid #eee;
          .city-list{
              float:left;
              cursor:pointer;
              margin:10px 10px;
          }
          .city-list span{
              padding:6px 12px;
              font-size:14px;
              color:#656565;
              background:#fff;
              border: 1px solid #E9E9E9;
              border-radius: 4px;
          }
        }
        .has-province{
          margin-top: -40px !important;
          background:#FFF;
        }
        .provinces{
            line-height:50px;
            display:flex;
            .area{
                color:#333333;
                font-size:14px;
                font-weight:bold;
                width:150px;
                padding-right:10px;
                text-align: right;
                margin-right:15px;
                border-right:1px solid #eee;
            }
            .list{
                max-width:1042px;
                margin-left: 15px;
                display:flex;
                flex-flow:row wrap;
                .activeTab{
                    background: #F2F2F2 ;
                }
            }
            .areaListSty{
                padding:5px 15px;
                font-size:14px;
                color:#656565;
                cursor:pointer;
            }
            .areaListSty:hover{
                color:#36A6FE !important;
            }
        }
        .provinces li{
            list-style:none;
            display:inline-block;
            margin-left:30px;
            font-size:14px;
            color:#656565;
            cursor:pointer;
        }

        .city{
            background:#F5F8FAFF;
            cursor:pointer;
            font-size:14px;
            padding:0 8px;
            line-height:30px;
        }
        .activeStyle{
            color:#FFF !important;
            background:#36A6FE !important;
        }
        .activeSty{
            color:#36A6FE !important;
        }
        .activeTab{
            color:#36A6FE !important;
            // background: #F2F2F2 ;
        }
    .sorting{
      margin: 10px auto;
      padding-left: 20px;
      padding-top: 10px;
      margin-bottom: -10px;
      background: #FFF;
      display: flex;
      align-items: center;
        .new-hot{
            display:flex
            width:200px;
        }
        .newestSort{
            color:#8A8A8A;
            cursor:pointer;
        }
        .hotestSort{
            color:#8A8A8A;
            cursor:pointer;
        }
        .activeSort{
            color:#36A6FE !important;
        }
        .inactiveSort{
            color:none !important;
        }
    }
    .content-List{
        width:1200px;
        margin:0 auto;
        display:flex;
        .left_content{
            min-height:400px;
            width:78%;
            padding-bottom: 10px;
            .diamond{
                width:6px;
                height:6px;
                background: #36A6FE;
                border-radius: 50%;
                margin:12px 3px;

            }
            .diamond_content{
                width:100%;
                color:#373D40;
                display:flex;
                .listTitle{
                    // max-width:96%
                    overflow:hidden;
                    text-overflow:ellipsis;
                    display:-webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:1;
                    cursor:pointer;
                    margin-left: 3px;
                    color: #373D40;
                    font-weight: bold;
                    font-size: 15px;
                }
                .the-top{
                    margin-left: 28px;
                    width:42px;
                    padding:0 5px;
                    height:20px;
                    background:#FD651C;
                    color:#FFF;
                    line-height:20px;
                    font-size:14px;
                    text-align:center;
                    border-radius:2px;
                }
                .top-views{
                    width:35px;
                    height:20px;
                    background:#FFF;
                    color:#FFF;
                    font-size:14px;
                    text-align:center;
                    border-radius:2px;
                }
            }
        }
        .newSty{
            margin:10px 0;
            background:#F9F9F9;
        }
        .right_content{
            width:25%;
            margin-left:1%;
            margin-bottom:10px;
            margin-top:10px;
            background:#FFF;
            .policy_side{
                width:100%;
                padding:10px 10px;
                .policy_content{
                    margin:14px 0;
                }
                .art_list{
                    color:#86898B;
                    font-size:14px;
                    overflow:hidden;
                    cursor:pointer;
                    text-overflow:ellipsis;
                    display:-webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:1;
                }
                .file_download{
                    text-decoration:none;
                    color:#36A6FE;
                    font-size:14px;
                    overflow:hidden;
                    cursor:pointer;
                    text-overflow:ellipsis;
                    display:-webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:1;
                }
            }
        }
    }
  .STY {
    background-image: url('~assets/images/industry/gouxuan_icon@2x.png') !important;
    background-size: 16px 16px !important;
    border:none !important;
  }

  .noSty {
    background: #ffffff !important;
    border: 1px solid #707070 !important;
    border-radius: 2px !important;
  }

  .titleSearch {
    width: 16px;
    height: 16px;
    background-image: url('~assets/images/industry/gouxuan_icon@2x.png');
    background-size: 16px 16px;
    cursor: pointer;
  }

  .contentSearch {
    width: 16px;
    height: 16px;
    background: #ffffff;
    cursor: pointer;
    margin-left:25px;
    border: 1px solid #707070;
    border-radius: 2px;
  }
  .city-name{
    font-size: 14px;
    color: #656565;
    padding:0 10px;
  }

  .city-txt-name{
    font-size: 14px;
    color: #36a6fe;
    padding:0 10px;
  }
  .city-name:hover{
    cursor: pointer
  }